
<div class="row">
	<div class="three columns">
		<h2> #Trending </h2>
		<h3> Today </h4><br>
		<h4> <%= link_to @topsong.title, band_path(@topsong) %> </h4>
		<h3> This Week </h3><br>
		<h4> <%= link_to @topsongoftheweek.title, band_path(@topsongoftheweek) %> </h4>
	</div>

	<div class="nine columns">

		<section class="tabs">

			<ul class="tab-nav">
				<li class="tab active">
					<a href="#">Songs</a>
				</li>
			  <li>
			  	<a href="#" class="tab">Bands</a>
			  </li>
					<div class="tab-content active">
			      	<%= render 'songs/displaySongs' %>
			    </div>
			  	<div class="tab-content">
			        <%= render 'bands/bandtab' %>
			    </div>
			</ul>

		</section>
	</div>

</div>