
<div class="row">
	<div class="twelve cloumns">

		<section class="tabs">

			<ul class="tab-nav">
				<li class="active">
					<a href="#">Songs</a>
					<div class="tab-content active">
			        <%= render 'main_songs' %>
			    </div>
				</li>
			  <li>
			  	<a href="#">Bands</a>
			  	<div class="tab-content">
			        <%= render 'bands/bandtab' %>
			    </div>
			  </li>
			</ul>

		</section>
	</div>
</div>