
<div class="row">
	<div class="two columns">
		<h2> Placeholder </h2>
	</div>

	<div class="eight columns">

		<section class="tabs">

			<ul class="tab-nav">
				<li class="tab active">
					<a href="#">Songs</a>
				</li>
			  <li>
			  	<a href="#" class="tab">Bands</a>
			  </li>
					<div class="tab-content active">
			        <%= render 'main_songs' %>
			    </div>
			  	<div class="tab-content">
			        <%= render 'bands/bandtab' %>
			    </div>
			</ul>

		</section>
	</div>

	<div class="two columns">
		<h2> Placeholder </h2>
	</div>

</div>