<li class="nav-btn">
  <div class="snav medium primary btn">
    <%= link_to "Edit account", edit_user_registration_path %>
  </div>
</li>
<li class="nav-btn">
  <div class="snav medium secondary btn">
    <%= link_to "Add A Venue", new_venue_path %>
  </div>
</li>
<li class="nav-btn">
  <div class="snav medium secondary btn">
    <%= link_to 'Create a band', new_band_path %>
  </div>
</li>

