<h2><%= @user.email %></h2>

<div class="row">
	<div class="twelve cloumns">
		<div class="tab_container">
			<section class="tabs">

				<ul class="tab-nav">
				
					<li class="tab active">
						<a href="#" class="tab">Liked Songs</a>
					</li>
					<li class="tab">
				  	<a href="#" class="tab">Your Bands</a>
				  </li>

					<div class="tab-content active">
			        <%= render 'main/main_songs' %>
			    </div>
			  	<div class="tab-content">
			  		<%= render 'bands/bandtab' %>
			    </div>

				</ul>

			</section>
		</div>
	</div>
</div>

<%= link_to "Make a Band", new_band_path %>
