
<div class="row" id="list_row">
	<div class="twelve columns" id="song_info">
		<% @bands.each do |b| %>
			<div class="content_holder">

			<%= image_tag(b.profile_pic.url, class: "tab_field_pic") %>

				<h4><%= link_to b.name, b %></h4>

					
					Fame: <%= b.fame %>
				</div>
		<% end %>
	</div>
</div>

