<div class="row">
  <% members.each do |m| %>
    <div class="twelve_columns tab_field">
      <%= image_tag(m.profile_pic.url, class: "tab_field_pic") %>

      <h4><%= link_to m.name, user_path(m) %></h4>
      <p>Bands: 
        <%= members_bands(m) %>
      </p>
    </div>
  <% end %>
</div>