<div class="four columns">
	<h1> Bands </h1>
	<% if user_signed_in? %>
		<%= link_to 'New Band', new_band_path %>
	<% end %>
</div>

<ul class="songlist">

	<% @bands.each do |b| %>
		<li>
		  <div class="row">
		    <div class="four columns" id="song_info">
					<h4><%= b.name %></h4>
		    </div>
		    <div class="push_two five columns">				
					<%= link_to 'Remove', b, method: :delete, confirm: "are you sure?" %>
		    </div>
		  </div>

		 </li>
	<% end %>

</ul>