<h1><%= @band.name %></h1>
<%= link_to 'Join' + @band.name, join_band_path, method: :post %>
<div class="band_members">
	<ul>
		<% @members.each do |m| %>
			<li>member:
				<%= m.email %>
			</li>
		<% end %>
		<%= link_to "New Song", new_band_song_path(params[:id]) %>
	</ul>
</div>