/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require gumby
 *= require_self
 *= require_tree .
 */


#nav_font {
	font-size: 16pt;
}

.odd {
	background: rgba(28, 100, 240, 0.3);
}
.even {
	background: rgba(240, 100, 28, 0.3);
}


div#list_row {


	#content_holder {
		padding-bottom: 20px;
		border-bottom: 1px solid black;
		min-height: 100px;

		.track_info {
			width: 300px;
			word-wrap: break-word;
			float: left;
		}

		.title{
		}

		.artist {
			margin-left: 20px;
		}
	}
}

div.rows {
	margin: 0;
	position: center;
}

section.tabs {

	.tab {
	}
}

