// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.band_name {
	// text rotation
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	

	position: fixed;
	left: -20px;
	top: 250px;
}

.right_side_actions {
	float: right;
	max-width: 200px;
	min-width: 80px;
	margin-top: 50px;
	margin-right: 50px;
	padding: 15px;
	border-left: 1px solid black;
}