// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


audio.song_player{
	float: right;
	clear: right;
}

h5.artist {
	margin-left: 20px;
}

p.genres {
	font-size: 11pt;
}

div {
	a.x-button {
		float: right;

		i{

		}
	}
}


span.likes {
	float: right;
	margin: 5px;

	div {
		float: right;
	}

	span.btn {
		a{
			color: rgba(45, 45, 45, 0.75);
		}
	}
}