<% if flash[:notice] %>
  <p class="secondary alert navbar-margin"><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
  <p class="danger alert navbar-margin"><%= flash[:alert] %></p>
<% end %>