<div class="wrapper drawer active" id="drawer1">
  <div id="inner-nav" class="row">
    <div class="twelve columns">
      <ul>
        <%= render @page_options %>
      </ul>
    </div>
  </div>
</div>

