    <div class="two columns hide-on-desktop">
      <div class="options-nav" id="togoogler">
        <a href="#" id="page-options-toggle3" class="switch" gumby-trigger="#drawer1"><i class="icon-down-circled"></i></a>
        <a href="#" id="page-options-toggle4" class="switch hide-this" gumby-trigger="|.drawer"><i class="icon-up-circled"></i></a>
      </div>
    </div>