    <div class="two columns hide-on-all-phones">
      <div class="options-nav" id="togoogler">
        <a href="#" id="page-options-toggle1" class="switch hide-this" gumby-trigger="#drawer1"><i class="icon-down"> Options</i></a>
        <a href="#" id="page-options-toggle2" class="switch" gumby-trigger="|.drawer"><i class="icon-up"> Options</i></a>
      </div>
    </div>